html{
    font-family: Verdana, Geneva, sans-serif;
    margin: 0px;
    padding: 0px;
    height:100%;
}

body{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    min-width: 420px;
    height:100%;
    display: flex;
}

#left{
    padding:10px;
    display:inline-block;  
    float:left;
    width:20%;
    min-width: 200px;
    height:100%;
    background-color: #FF9702;   
}

#content{
    background-color:white;  
    float:left;
    margin-left: 20px;
    min-width:250px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    background: #FFBD60;
    margin: 3px;
}

li a:hover {
    background-color: #B36900;
    color: white;
}

#heading {
    font-weight: bold;
    text-align:center;
    color: #000;
    padding: 8px 0 16px 0px;

}

#logo {
    text-align:center;
}

.error{
    color: red;
}